# Dependências do Node (PESADO - Nunca envie)
node_modules/

# Arquivos de ambiente e senhas (SEGURANÇA - Nunca envie)
.env

# Backups de Banco de Dados (Evita subir dados reais/pesados sem querer)
*.sql
*.dump

# Logs gerais
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema operacional (Lixo)
.DS_Store
Thumbs.db

# Configurações de IDE (Opcional, mas recomendado ignorar)
.vscode/
.idea/