@charset "UTF-8";
/* --- ESTILOS PARA O MENU --- */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem; /* Espaçamento entre os botões */
    margin-top: 3rem;
}

/* Seleciona o PRIMEIRO .menu-button (destaque)*/
.menu-grid > .menu-button:first-child {
    grid-column: 1 / -1; 
    border: 0.2rem solid #ddd; /* Borda mais pronunciada */
}

/* Efeito hover para o botão de destaque */
.menu-grid > .menu-button:first-child:hover {
    background-color: #28a745; /* Fundo fica verde */
    color: #ffffff;
    box-shadow: 0 0.4rem 1.2rem rgba(40, 167, 69, 0.2);
}

/* Regra para os outros 4 botões */
.menu-grid > .menu-button:not(:first-child) {
    grid-column: span 2;
}

.menu-button {
    background-color: #f9f9f9;
    border: 0.1rem solid #ddd; /* 1px */
    border-radius: 0.8rem; /* 8px */
    padding: 2.5rem 1.5rem; /* 25px 15px */
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.menu-button:hover {
    background-color: #ffffff;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
}

.menu-button .icon {
    font-size: 2.5em; /* Tamanho do emoji/ícone */
    display: block;
    margin-bottom: 1rem;
}

.menu-button .text {
    font-size: 1.1em;
    font-weight: bold;
}